@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    padding: 0px 20px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s ease;
}

.nav-item:hover,
.nav-item #active{
    color: red;
}

.nav-item:hover::after{
    content: "";
    width: 35%;
    height: 3px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


