@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    padding: 0px 20px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s ease;
}

.nav-item:hover{
    color: red;
}

.nav-item:hover::after{
    content: "";
    width: 35%;
    height: 3px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.nav-header button{
    margin-left: 13px;
    padding: 7px;
    font-size: 17px;
    font-weight: 600;
    background-color: #B3E0F2;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.nav-header .nav-profile{
  border-radius: 40px; /* You can adjust the radius as needed */
  background-color: black; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  padding: 10px 15px; /* Adjust padding as needed */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 17px; /* Adjust font size as needed */
  text-align: center;
}

.user-details-container {
  position: relative; /* Position relative to allow absolute positioning of the dropdown */
}

.user-details {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #E3E6F3;
    margin: 25px;
    /* Background color for the dropdown */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Add shadow for a dropdown effect */
    border-radius: 10px;
    /* Add rounded corners */
    z-index: 1;
    width: 400px; /* Set the width to your desired value */
    height: 400px; /* Set the height to your desired value */
  }
  

.user-details p {
    margin: 10px;
}

.user-details button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px;
}

.user-details-container.active .user-details {
    display: block;
}